*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    background-color: #f0ffff;
}
.container{
    align-content: center;
    padding: 20px 80px;
    margin:20px 70px;
    max-width: 1300px;
    /* background-color: blue; */
}
.form{
    /* background:#d3d3d3; */
    box-sizing: 120px 180px;
    border-style: double;
    width: fit-content;
    position:relative;
   align-self: center;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0 ,0 ,1);
    cursor: pointer;
    transition: transform 0.5s;
   width: 40%;
   border-radius: 20px;
   min-width:300px ;
   bottom: -135px;
   left: 35%;
   display: inline-block;
}
.form:hover{
    transform: translateY(-10px);
}
.form h1{
    background: transparent;
    color: #007474;
}
p{
    margin:7px 5px;
  
    font-size: 175%;
    color: royalblue;
   
}
 a{
    font-size: 105%;
    margin: 7px 5px;
    padding: 20px 10px;
    cursor: pointer;
    transition: transform 0.5s; 
     text-decoration: none;
    color:#b22222;
  
    background:  transparent;
}
 a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}
a:hover{
  color:#191970;
}
button{
    width: 120px;
    padding: 10px 0;
    text-align: center;
    margin: 15px 5px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: tomato;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-weight: bolder;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
input{
    position:relative;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 125%;
    margin: 7px 5px;
    padding: 5px 1px;
    text-align: center;
    cursor: pointer;
    transition: 00.5s;
    border-color: blue;
}
input:hover{
    border-color: orangered;
  
}
label{
    background: transparent;
    color: yellow;
}
/*----media query for less than 800 screen size----*/
@media only screen and (max-width: 1000px){
    .form{
        width: 75%;
        text-align: center;
        flex-basis: 100%;
       top: 50px;
        left: 70px;
    }
    input{
       position:relative;
       margin: 7px 5px;
       padding: 4px 1px; 
     
    }
    }
/*----media query for less than 600 screen size----*/
@media only screen and (max-width: 600px){
 .form{
     width: 75%;
     text-align: center;
     flex-basis: 100%;
     text-size-adjust: 80px;
 }
 input{
    position:relative;
    margin: 7px 5px;
    padding: 5px 1px; 
    text-size-adjust: 80px;
 }
 }